@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
/* base/////////// */
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  font-family: serif;
}
body * {
  box-sizing: border-box;
}
/* common////////// */
h1,h3 {
    text-align: center;
    font-family: serif;
    font-weight: lighter;
    width: 100%;
}
h1 {
  text-shadow: 0 0 5px rgba(203, 248, 239, 0.986),
              0 0 10px rgb(203, 248, 239),
              0 0 15px rgb(0, 248, 236),
              0 0 20px rgb(0, 248, 236),
              0 0 25px rgb(0, 248, 236),
              0 0 30px rgb(0, 248, 236);
}
h3 {
  font-size: 4rem;
  text-shadow: 0 0 5px rgb(255, 255, 255),
  0 0 10px rgb(255, 255, 255),
  0 0 15px rgb(255, 255, 255),
  0 0 20px rgb(255, 255, 255),
  0 0 25px rgb(255, 255, 255),
  0 0 30px rgb(255, 255, 255);
}
a {
  cursor: pointer;
}
 /* スクロールアニメーション */
.fade-in {
  opacity: 0;
  transition: 0.5s linear;
  transform: translate(0, 50px);
}
.scroll-in {
  opacity: 1!important;
  transform: translate(0,0)!important;
  filter: blur(0)!important;
}
/* loading_1////////// */ 
#loading_1  {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  background-image: url(./img/back2.png);
  transition:  2s linear;
}
.loader_1 {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}
.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}
.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 2s linear infinite;
  border-bottom: 5px solid #07daff;
}
.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 2s linear infinite;
  border-right: 5px solid #07daff;
}
.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 2s linear infinite;
  border-top: 5px solid #07daff;
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.loaded {
  opacity: 0;
  visibility: hidden;
}   
/* loading_2/// */
#loading_2  {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8000;
  display: none;
  background-image: url(./img/back2.png);
  }
  #loader_2 {
    height: auto;
    margin-top: 23%;
  }
.loader_title { 
  color: white;
  margin: 0 auto;
  text-align: center;
}
.loader_title   p {
  width: 0;
  font-size: 2.5vw;
  white-space: nowrap;
	overflow: hidden;
  margin: 0 auto;
  animation: loading_p 4s  linear forwards;
    }
@keyframes loading_p {
  from{
    width: 0%;
  }
  to{
    width: 100%;
      }
}
#title_underline {
  padding-bottom: 10px;
  position: relative;
}
#title_underline:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  border-bottom: solid 2px rgb(255, 255, 255);
  transform: translateX(-50%);
  animation:  border_anim 0.8s 1s linear forwards;
}
@keyframes border_anim {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
} 
#loading_2-2 {
  width: 100vw;
  height: 100vh;
  z-index: 7500;
  position: fixed;
} 
.splash1 {
	animation: PageAnime 1.4s ease-in-out forwards;
  content: "";
  position:fixed;
  z-index: 7400;
  width: 100%;
  height: 100vh;
  bottom:50%;
  left:0;
  transform: scaleY(1);
  background-color: rgb(0, 0, 0);
  display: none;
  border-bottom: 2px solid white;
}
@keyframes PageAnime{
	from {
		transform-origin:top;
		transform:scaleY(1);
	}
	to {
		transform-origin:top;
		transform:scaleY(0);
	}
}
.splash2{
  animation: PageAnime2 1.4s  ease-in-out forwards;
  z-index: 7400;
  content: "";
  position:fixed;
  width: 100%;
  height: 100vh;
  top: 50%;
  left:0;
  transform: scaleY(1);
  background-color: rgb(0, 0, 0);
  display: none;
  border-top: 2px solid white;
}
@keyframes PageAnime2{
	from {
		transform-origin:bottom;
		transform:scaleY(1);
	}
	to {
		transform-origin:bottom;
		transform:scaleY(0);
	}
}
#loading_3 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 7000;
  background-color: white;
  display: none; 
}
.loader_3  p:first-of-type {
  width: 100%;
  position: absolute;
  top: 40%;
  font-size: 1.7rem;
  color: black;
  text-align: center;
  animation: pAnime 4s forwards;  
  opacity: 0;
}
.loader_3  p:nth-of-type(2) {
  position: absolute;
  width: 100%;
  top: 60%;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  animation: pAnime 4s 1.5s forwards; 
  opacity: 0;
}
@keyframes pAnime{ 
  from {
  filter: blur(10px);
  transform: scale(1.2);
  opacity: 0;
  }
  to {
  filter: blur(0);
  transform: scale(1);
  opacity: 1;
  }
}     
.loader_3_content {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  top: 45%;
}
.sound_button_on  {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  animation: pAnime 4s 0.5s forwards;  
  opacity: 0;
}
.sound_button_on:hover  {
  opacity: 0.5;
  box-shadow: 0 0 20px 7px rgb(0, 0, 0);
}
.sound_button_off   {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  animation: pAnime 4s 0.8s forwards;   
  opacity: 0;
}
.sound_button_off:hover  {
  opacity: 0.5;
  box-shadow: 0 0 20px 7px rgb(0, 0, 0);
} 
/* header///////// */
header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-between;
  align-items: center;
  background-image: url(./img/back.png)
}
.header-logo {
  margin: 5px 0 0 80px;
}
.header-logo-inner {
  width: 65px;
  height: 65px;
}
.header-title {
  width: 100%;
}
.header-title h1 {
  font-size: 3rem;
  line-height: 50px;
  margin-left: 40px;
}
.header-philosophy {
  width: 220px;
  font-family: ten-mincho-text, serif;
} 
.header-philosophy h2 {
  text-shadow: 0 0 5px rgba(203, 248, 239, 0.986),
              0 0 10px rgb(177, 238, 233),
              0 0 15px rgb(0, 248, 236),
              0 0 20px rgb(0, 248, 236),
              0 0 25px rgb(0, 248, 236),
              0 0 30px rgb(0, 248, 236);
}
/* main/////////// */
.main {
  height: auto;
}
/* sidemenu //////////*/
#Gnav {
  position: fixed;
  height: 100%;
  right: 0;
  z-index: 6000;
}
.menu-btn {
  width: 0px;
  height: 160px;
  right: 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0 0 0 10px;
  transition: 0.2s linear;
}
.menu_onload {
  width: 80px;
  border: solid 2px black;
  transition: 0.5s 0.7s linear;
}
.btn-list {
  list-style-type: none;
  margin: 0;
}
.btn-high {
  border-bottom: solid 2px black;
  height: 80px;
}
.btn-list a {
  display: inline-block;
  width:100%;
  height: 100%;
}
.btn-list a:hover {
  opacity: 0.3;
}
.btn-list img {
  margin-top: 15px;
}
.btn-list p {
  font-size: 1.2rem;
}
.btn-low {
  height: 80px;
}
.btn-low a {
  text-decoration: none;
  color: black;
}
.menu_close {
  position: absolute;
  z-index: 5000;
  width: 0;
  height: 80px;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border-radius:0 0 0 10px;
  transition: 0.3s  linear;
  text-align: center;
}
.menu_close ul {
  height: 100%;
}
.menu_close li {
  height: 100%;
  list-style-type: none;
}
.menu_close a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.menu_close a:hover {
  opacity: 0.3;
}
.menu_close img {
  margin-top: 15px;
}
.mune_close p {
  font-size: 0.8rem;
}
.open_close_menu {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  transition: 0.2s 0.4s linear;
}
.navi {
  background-image: url(/img/sidemenu.jpg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: 4000;
  top: 0;
  right: 0;
  width: 0;
  height: 100%; 
  text-align: center;
  transition: 0.3s linear;
  opacity: 0;
}
.nav_content {
  width: 100%;
  height: 100%;
}
.nav_photo {
  margin-top: 50px;
}
.open-menu-ul  {
  list-style-type: none;
  font-size: 2.2rem;
  margin-top: 70px;
  line-height: 200%;
}
.open-menu-ul li {
  position: relative;
  opacity: 0;
  font-weight: bold;
}
.open-menu-ul li:nth-of-type(2) {
  padding-left: 1.5rem;
}
.open-menu-ul li:nth-of-type(3) {
  padding-right: 1rem;
} 
.open-menu-ul li:nth-of-type(4) {
  padding-right: 0.5rem;
}
.open-menu-ul a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
} 
.open-menu-ul li a:hover { 
  color: black !important;
  animation: border_anim_side 0.5s linear forwards;
}
.open-menu-ul li a:hover::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  animation: border_anim_side 0.5s linear forwards;
  border-bottom: 1px solid white;
}
@keyframes border_anim_side  {
  from {
    width:0;
  }
  to{
    width: 100%;  
  }
}
.open-menu-ul li a::before {
  display: inline-block;
  color:aqua;
  content:"☆";
  position:absolute;
  top: 0;
  left: 25%;
  width: 5px;
  height: 5px;
}
.open-menu {
  width: 350px;   
  transition:  0.2s 0.4s linear;
  border: solid 2px white;
  opacity: 1;
  }
/* top */
.top {
  height: calc(100vh - 80px);
  background-image: url(/img/backimg3.jpg);
  background-size: cover;
  position: relative;
  z-index: 3000;
}
.top-title {
  text-align: center;
  padding-top: 10%;
}
.top p {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 20px black;
  text-align: center;
  font-size: 4.5rem;
  margin-top: 5rem;
}
.top a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.btn-group {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 60%
}
.top-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
.top-btn:first-child {
  background-color:rgb(215, 215, 186);
  position: relative;
  margin-right: 30px;
}
.top-btn:first-child::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color:rgb(215, 215, 186);
  animation: btn-shadow 1.2s linear infinite;
  filter: drop-shadow(0 0 20px rgb(222, 210, 123));
}
@keyframes btn-shadow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}
.top-btn:nth-child(2) {
  background-color:rgb(137, 169, 205);
  position: relative;
  margin-right: 30px;
}
.top-btn:nth-child(2)::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color:rgb(137, 169, 205);
  animation: btn-shadow 1.2s linear infinite;
  filter: drop-shadow(0 0 20px rgb(67, 91, 227));
}
.top-btn:last-child {
  background-color:rgb(0, 0, 0);
  position: relative;
}
.top-btn:last-child:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color:rgb(0, 0, 0);
  animation: btn-shadow 1.2s linear infinite;
  filter: drop-shadow(0 0 20px rgb(255, 255, 255));
}
.top button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 3px #fff;
  background-color: transparent;
  position: absolute;
  bottom: 8%;
  left: 47.5%;
  animation: top-button 3s linear infinite;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
@keyframes top-button {
  0% {}
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.top-button {
  filter: drop-shadow(10px 10px 20px black);
  position: absolute;
  top: 30%;
  right: 30%;
}
/* about////////// */
.about {
  width: 100%;
  height: auto;
  margin: 0;
  border-bottom: solid 1px skyblue;
}
/* about this site////////// */
.about-this-site {
  width:100vw;
  height: 100vh;
  color: #fff;
  position: relative;
  text-align: center;
  background-image: url(/img/back3.png);
}
.about-this-site h3 {
  position: absolute;
  top: 30%;
}
.about-this-site p {
  height: auto;
  margin-top: 40px;
  font-size: 1.6rem;
  line-height: 200%;
  position: absolute;
  top: 40%;
  width: 100%;
}
/* about me//////// */
.about-me {
  height: 100vh;
  border-top: solid 1px skyblue;
  background-image: url(/img/back.png);
  position: relative;
}
.about-me h3 {
  position: absolute;
  top: 15%;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 5px rgba(203, 248, 239, 0.986),
              0 0 10px rgb(203, 248, 239),
              0 0 15px rgb(0, 248, 236),
              0 0 20px rgb(0, 248, 236),
              0 0 25px rgb(0, 248, 236),
              0 0 30px rgb(0, 248, 236);
  animation: textanime  1.5s  linear;
}
.about-me-content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
  margin: 0 auto;
}
.about-left {
  margin: 0 5% 0 5%;
}
.about-left img {
  box-shadow: 0 0 50px black;
}
.about-right {
  padding:  5% 0;
  animation: textanime  1.5s  linear;
}
.about-right  p {
  text-align: left;
  margin-top: 0;
  font-size: 1.6rem;
  line-height: 200%;
}
.about-me-list {
  text-align: left;
  margin-top: 5%;
  list-style-type: none;
  font-size: 1.5rem;
} 
.about-me-list a { 
  color: rgb(0, 98, 255);
}
/* profile////////// /*/
.profile {
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  background-image: url(/img/back3.png);
  padding-bottom: 50px;
}
.profile h3 {
  margin-top: 0;
  padding-top: 50px;
}
.tree-content {
  margin-top: 50px;
  display: flex;
  justify-content: left;
}
.leaf-left {
  margin-left: 20%;
  text-align: left;
}
.year {
  margin: 65px 0 0 0;
}
.leaf-left .year:nth-child(n+2) {
  margin-top: 280px;
}
.leaf-center {
  padding-left: 20%;
}
.branch-container {
  display: flex;
  width: auto;
  height: auto;
  padding-left: 20px;
}
.branch-left {
  width: 5px;
  height: 1900px;
  background-color: rgb(255, 255, 255);
}
.leaf-right {
  height: auto;
}
.branch-right {
  margin: 0;
}
.branch-1 {
  width: 75px;
  height: 5px;
  margin-top: 80px;
  background-color: rgb(255, 255, 255);
}
.branch-right .branch-1:nth-child(n+2) {
  margin-top: 300px;
}
.profile-photo {
  width: 150px;
  height: 150px;
  margin-bottom: 10.5%;
  border-radius: 50%;
  border: solid 5px rgb(255, 255, 255);
  background-position: center;
  float: left;
}
.profile-photo:nth-of-type(n+2) {
  margin-top: 12%;
}
.leaf-right h2 {
  width: auto;
  font-size: 2.5rem;
  background-color: rgb(113, 219, 219);
  border-left: 10px solid rgb(255, 255, 255);
  clear: both;
  text-align: left;
}
/* skills//////////// */
.skills {
  width: 100%;
  height: 120vh;
  background-image: url(/img/back.png);
  position: relative;
}
.skill-title {
  position: absolute;
  width: 100%;
  top: 10%;
  text-align: center;
  text-shadow: 0 0 5px rgba(203, 248, 239, 0.986),
              0 0 10px rgb(203, 248, 239),
              0 0 15px rgb(0, 248, 236),
              0 0 20px rgb(0, 248, 236),
              0 0 25px rgb(0, 248, 236),
              0 0 30px rgb(0, 248, 236);
}
.skill-content {
  width: 100%;
  height: auto;
  text-align: center;
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 40px;
}
.skill-box:first-of-type {
  opacity: 0;
  transition: 0.5s  linear;
  transform: translate(-50px,0);
}
.skill-box:nth-of-type(2) {
  opacity: 0;
  transition: 0.7s 0.2s linear;
  transform: translate(-50px,0);
}
.skill-box:nth-of-type(3) {
  opacity: 0;
  transition: 0.9s 0.4s linear;
  transform: translate(-50px,0);
}
.skill-box:nth-of-type(4) {
  opacity: 0;
  transition: 1.1s 0.6s linear;
  transform: translate(-50px,0);
}
.skill-box {
  width: 200px;
  height: 240px;
  border-radius: 10%;
  border: solid 2px rgb(53, 53, 53);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, 
  rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.skill-box-high {
  width: 100%;
  height: 80%;
}
.skill-box-low {
  width: 100%;
  height: 20%;
  border-top: solid 2px rgb(0, 0, 0);
  display: table;
}
.skill-box-low p{
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5rem;
}
.pi-graph {
  width: 90%;
  height: 100%;
  transform-origin: center;
  transform: rotate(-90deg);
}
#enko {
  fill: #f0eeee;
  stroke-dasharray: 100;
}
.blue {
  animation: blue 1.5s linear;
  animation-fill-mode: forwards;
  stroke-width: 3;
  stroke:rgb(59, 58, 58);
  stroke-dashoffset: 100;
}
.pi-graph-inner {
  transform: rotate(90deg);
}
@keyframes blue {
  to {
    stroke-dashoffset: 67;
  }
}
.skill-slide {
  width: 900px;
  margin:0 auto;
}
.skill-slide p{
  font-size: 2rem;
  margin-bottom: 40px;
}
.skill-slide ul {
  border: 1px solid black;
  list-style-position: inside;
  font-size: 2rem;
  text-align: left;
  letter-spacing: 0.5rem;
  height: 300px;
  line-height: 170%;
}
.skill-slide li {
  padding-left: 30%;
}
.skill-slide li:first-child {
  padding-top: 30px;
}
/* works////////// */
.works {
  width: 100%;
  height: auto;
  background-image: url(/img/back3.png);
  color: #fff;
  padding-bottom: 50px;
}
.works-title {
  padding-top: 50px;
}
.works-content {
  width: 70%;
  height: auto;
  margin: 100px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 50px;
}
.work-box {
  width: 380px;
  height: auto;
  text-align: center;
}
.work-box-inner {
  width: 100%;
  height: 250px;
  border: solid 2px rgb(241, 239, 239);
  background-size: cover;
  background-position: center;
  position: relative;
}
.work-box-inner:hover {
  transition: 0.3s;
  box-shadow: 0 0 25px rgba(255, 255, 255);
  transform: scale(1.1);
}
.work-box-inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  border-bottom: solid 5px rgb(4, 249, 253);
  transition: 0.3s linear;
}
.work-box-inner:hover::after {
  width: 100%; 
  border-bottom: solid 3px rgb(255, 255, 255);
}
.work-box a {
  display: block;
  width: 100%;
  height: 100%;
}
.work-box p {
  display: inline-block;
  margin-top: 15px;
  text-align: center;
  font-size: 1.5rem;
}
.works-content .fade-in2:first-of-type {
  opacity: 0;
  transition: 0.5s  linear;
  transform: translate(-50%,0);
  filter: blur(5px);
}
.works-content .fade-in2:nth-of-type(2) {
opacity: 0;
transition: 0.5s 0.5s linear;
transform: translate(0, -50%);
filter: blur(5px);
}
.works-content .fade-in2:nth-of-type(3) {
opacity: 0;
transition: 0.5s 1.2s linear;
transform: translate(0, 50%);
filter: blur(5px);
}
.works-content .fade-in2:nth-of-type(4) {
opacity: 0;
transition: 0.5s 0.8s linear;
transform: translate(50%, 0);
filter: blur(5px);
}
/* footer//////////// */
.footer {
  width: 100%;
  height: 80px;
  position: relative;
  background-image: url(/img/back.png);
}
.footer p {
  line-height: 80px;
  font-size: 1.5rem;
  position: absolute;
  left: 10%;
}
